<script>
import {mapActions, mapGetters, mapMutations} from "vuex";
import getComponent from "../../../../utils/getComponent";
import Tool from "../../Tool.vue";
import constants from "../store/constantsGenericDashboard";

export default {
    name: "GenericDashboard",
    components: {
        Tool
    },
    computed: {
        ...mapGetters("Tools/GenericDashboard", constants.getters)
    },
    watch: {
        /**
         * Prepares the Url that can be copied.
         *
         * @returns {void}
         */
        active () {
            this.filterExternalLayer(Radio.request("ModelList", "getModelsByAttributes", {isSelected: true, type: "layer"}));
        }
    },
    created () {
        this.$on("close", this.close);
    },
    methods: {
        ...mapMutations("Tools/GenericDashboard", constants.mutations),
        ...mapActions("Tools/GenericDashboard", constants.actions),
        close () {
            this.setActive(false);

            // The value "isActive" of the Backbone model is also set to false to change the CSS class in the menu (menu/desktop/tool/view.toggleIsActiveClass)
            const model = getComponent(this.id);

            if (model) {
                model.set("isActive", false);
            }
        },
        componentName (chartType) {
            return `${chartType[0].toUpperCase()}${chartType.substring(1)}Chart`;
        },
        updateFilters () {
            const filters = this.hashes.filters.map(filter => {
                return this.$refs[filter.key]?.[0].$data.filter;
            })

            this.activeFilters = {
                filters
            }
        }
    }
};
</script>

<template>
    <Tool
        :title="$t(name)"
        :icon="glyphicon"
        :active="active"
        :render-to-window="renderToWindow"
        :resizable-window="resizableWindow"
        :deactivateGFI="deactivateGFI"
    >
        <template v-slot:toolBody>
            <h2>{{ $t() }}</h2>
        </template>
    </Tool>
</template>

<style lang="less" scoped>
    @import "~variables";
</style>
