<script>
/* eslint-disable vue/no-unused-components */
import Tool from "../../../src/modules/tools/Tool.vue";
import {mapActions, mapGetters, mapMutations} from "vuex";
import constants from "../store/constantsGenericDashboard";
import getComponent from "../../../src/utils/getComponent";
import BarChart from "./charts/BarChart.vue";
import HorizontalBarChart from "./charts/HorizontalBarChart.vue";
import LineChart from "./charts/LineChart.vue";
import PieChart from "./charts/PieChart.vue";
import PolarAreaChart from "./charts/PolarAreaChart.vue";
import ChartFilter from "./filters/ChartFilter.vue";

export default {
    name: "GenericDashboard",
    components: {
        ChartFilter,
        BarChart,
        HorizontalBarChart,
        LineChart,
        PieChart,
        PolarAreaChart,
        Tool
    },
    computed: {
        ...mapGetters("Tools/GenericDashboard", constants.getters)
    },
    created () {
        this.$on("close", this.close);
    },
    /**
     * Put initialize here if mounting occurs after config parsing
     * @returns {void}
     */
    mounted () {
        this.applyTranslationKey(this.name);
        this.fetchData();
    },
    methods: {
        ...mapMutations("Tools/GenericDashboard", constants.mutations),
        ...mapActions("Tools/GenericDashboard", constants.actions),
        /**
         * Closes this tool window by setting active to false
         * @returns {void}
         */
        close () {
            this.setActive(false);

            // TODO replace trigger when Menu is migrated
            // set the backbone model to active false for changing css class in menu (menu/desktop/tool/view.toggleIsActiveClass)
            // else the menu-entry for this tool is always highlighted
            const model = getComponent(this.id);

            if (model) {
                model.set("isActive", false);
            }
        },
        componentName (chartType) {
            return `${chartType[0].toUpperCase()}${chartType.substring(1)}Chart`;
        },
        getFilters () {
            const filters = this.hashes.filters
                .reduce((filtersArr, hash) => {
                    const filter = this.$refs[hash]?.[0].$data.filter;

                    if (filter) {
                        // quick and dirty for demo - find better solution for complex key matching
                        const keyFilter = filtersArr.find(f => f.keys?.join() === filter.keys?.join());

                        if (!keyFilter) {
                            return [...filtersArr, filter];
                        }

                        keyFilter.value += `AND ${filter.value}`;
                    }

                    return filtersArr;
                }, []);

            this.updateFilters(filters);
        },
        syncFilters () {
            // todo
        }
    }
};
</script>

<template lang="html">
    <Tool
        :title="$t(name)"
        :icon="glyphicon"
        :active="active"
        :render-to-window="renderToWindow"
        :resizable-window="resizableWindow"
        :deactivateGFI="deactivateGFI"
        :initialWidth="initialWidth"
    >
        <template v-slot:toolBody>
            <v-app
                v-if="active"
                id="generic-dashboard"
            >
                <v-container fluid>
                    <h2>
                        {{ $t("additional:modules.tools.GenericDashboard.title") }}
                    </h2>
                    <p>
                        {{ description || $t("additional:modules.tools.GenericDashboard.defaultText") }}
                    </p>
                    <ChartFilter
                        v-for="filter in filters"
                        :key="filter.name"
                        :ref="filter.hash"
                        :config="filter"
                        :backendUrl="url"
                        @chartFilter="getFilters"
                    />
                    <v-row
                        v-for="(chart, i) in charts"
                        :key="i"
                        dense
                    >
                        <v-col>
                            <v-card>
                                <v-card-title secondary-title>
                                    {{ chart.name }}
                                </v-card-title>
                                <v-card-text>
                                    <component
                                        :is="componentName(chart.chartType)"
                                        :chart="chart"
                                        :hash="chart.hash"
                                        :additionalOptions="additionalOptions"
                                    />
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-app>
        </template>
    </Tool>
</template>
